.body {
    background-color: black;
    color: aqua;
    font-family: Cuprum, serif;
}
.page {
    max-width: 1280px;
    margin: auto;
}

.java__script {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    font-size: 60px;
    font-style: normal;
}
.logo {
    background-image: url("images/javascript.png");
    position: center;
    display: block;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;

}
hr {
    opacity: 0.5;
}
h2 {
    margin-top: 50px;
}
.code {
    max-width: 350px;
    display: block;
    line-height: 25px;
    font-size: 15px;
    background-color: black;
    opacity: 0.7;

}
.condition {
    max-width: 100%;
    display: block;
}
.subtitle {
    font-size: 40px;
}
